<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | FileShare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <br>
    <br>
    <h1>Index page</h1>
    <br>
    <br>
    
</body>

</html>